* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0B2434;
  font-family: 'Karla', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F5F5F5;
  margin: 30px 20px;
  border-radius: 10px;
  padding: 35px 35px;
  max-width: 400px;
  max-height: 400px;
}

h1 {
  font-size: 1.6rem;
  color: #2B283A;
  margin: 0px;
  margin-bottom: 10px;
}

p {
  font-size: .819rem;
  color: #4A4E74;
  margin: 0;
  text-align: center;
}

.dice-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  row-gap: 18px;
  column-gap: 18px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 0px;
}

.die {
  width: 36px;
  height: 36px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
  font-family: 'Karla', 'Inter', sans-serif;
  font-size: 1.287rem;
  font-weight: 700;
}


.roll-dice {
  background-color: #5035FF;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 1rem;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  padding: 6px 22px;
  cursor: pointer;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}